<section class="cartelera">

    <div class="container">

        <div class="movies">
            <section class="superior">
                <img [src]="data.imagenUrl" alt="event image" />
            </section>
            <section class="middle">
                <h3>{{data.title | textLimiter : 30}} </h3>
            </section>
            <section class="bottom">
                <div class="genre-time-container">
                    <span class="genre"> {{data.genre}} |</span>
                    <span class="time"> {{data.timeEvent}}</span>
                </div>
                <div class="button">
                    <a class="btn">Comprar Boletos</a>
                </div>
            </section>
        </div>
    </div>
</section>