<section class="cartelera">

    <div class="container">

        <div class="movies">
            <section class="superior">
                <img src="Images/image_81e2d881.jpeg" alt="event image" />
            </section>
            <section class="middle">
                <h3>Nombre de la Pelicula</h3>
            </section>
            <section class="bottom">
                <div class="genre-time-container">
                    <span class="genre"> Accion</span>
                    <span class="time"> 120 min</span>
                </div>
                <div class="button">
                    <a href="#compra" class="btn">Comprar Boletos</a>
                </div>
            </section>
        </div>
    </div>
</section>