<div class="main-container">
    <app-simple-header></app-simple-header>

    <body>
        <div class="container">

            <h2>Inicio de Sesion</h2>
            <form [formGroup]="loginForm">
                <label for="login">Email</label>
                <input type="email" formControlName="email" placeholder="Tu correo electrónico" required>

                <label for="Password">Password</label>
                <input type="password" [formControl]="loginForm.controls.password" placeholder="password" required>

                <button type="submit" class="btn">RESTABLECER</button>
            </form>

            <p>Si ya tienes una cuenta <a routerLink="/login">ingresa</a></p>
        </div>
    </body>

    <app-footer></app-footer>
</div>