<div class="main-container">
    <app-simple-header></app-simple-header>

    <body>
        <div class="container">

            <h2>RESTABLECER</h2>
            <form #forgotPasswordForm="ngForm">
                <label for="email">Email*</label>
                <input type="email" ngModel name="email" #inputEmail="ngModel" placeholder="Tu correo electrónico"
                    required email>
                <button type="submit" class="btn"
                    (click)="onSubmit(forgotPasswordForm.value.email)">RESTABLECER</button>
            </form>

            <p>Si ya tienes una cuenta <a routerLink="/login">Ingresa</a></p>
        </div>
    </body>

    <app-footer></app-footer>
</div>