@import "../public/Styles/color.css";
@import "../public/Styles/material.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif, "Roboto" !important;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;

}