<div class="home-container">
    <app-header></app-header>
    <div class="content-container">
        <section class="Hero">
            <!-- Video de fondo -->
            <video autoplay [muted]="true" loop class="hero-video">
                <source src="Videos/Capitán América Un Nuevo Mundo  Tráiler Oficial  Doblado.mp4" type="video/mp4">
            </video>

            <!-- Contenido superpuesto -->
            <div class="hero-content">
                <h1>Bienvenido a CineMax</h1>
                <p>Descubre los últimos estrenos y vive la experiencia del cine como nunca antes.</p>
                <a href="#cartelera" class="btn">Ver Cartelera</a>
            </div>
        </section>
        <div class="cartelera">
            <h2>Cartelera</h2>
        </div>

        <section class="event-list">
            @for (movie of filteredMovies$ | async; track $index) {
            <app-event-card [data]="movie" [routerLink]="'/event-detail/' + movie.id"> </app-event-card>
            }
        </section>
    </div>

    <app-footer></app-footer>
</div>