.home-container {

    & .content-container {

        & .Hero {
            position: relative;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            overflow: hidden;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
            }

            & .btn {
                background: #f4a261;
                color: #fff;
                padding: 0.7rem 1.5rem;
                border: none;
                text-decoration: none;
                font-size: 1rem;
                border-radius: 5px;
                transition: background 0.3s;
            }

            & .btn:hover {
                background: #e76f51;
            }

            & .hero-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }

            & hero-content {
                position: relative;
                /* Asegura que el contenido esté encima del video */
                z-index: 1;
                /* Coloca el contenido delante del video */
            }
        }

        & .event-list {
            padding: 2rem 0;
            background: #fff;

            h2 {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 2rem;
                color: #333;
            }

            & .movies {
                display: flex;
                gap: 1.5rem;
                flex-wrap: wrap;
                line-height: 1.4;
                justify-content: center;
            }

            & .movie {
                background: #f4f4f4;
                padding: 1rem;
                border-radius: 8px;
                text-align: center;
                max-width: 300px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                img {
                    width: 100%;
                    border-radius: 8px;
                }

                h3 {
                    margin: 1rem 0 0.5rem;
                    font-size: 1.2rem;
                }

                p {
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    color: #666;
                }

                & .btn {
                    background: #2a9d8f;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border: none;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: background 0.3s;
                }

                & .btn:hover {
                    background: #21867a;
                }
            }

        }
    }

}